<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<title>Retail Banking System</title>
	<link href="webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" />
	<link href="webjars/bootstrap-icons/1.8.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Custom styles -->
	<link href="css/employee.css" rel="stylesheet" />
	<link href="css/dashboard.css" rel="stylesheet" />
</head>

<body>

	<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">Retail Banking System</a>
		<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
			data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div th:replace="fragments/logout :: logout"></div>
	</header>

	<div class="container-fluid">
		<div class="row">
			<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
				<div class="position-sticky pt-3">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link" href="/dashboard">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-bank2" viewBox="0 0 16 16">
									<path
										d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z" />
								</svg>
								Account
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="/operation">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-cash-coin" viewBox="0 0 16 16">
									<path fill-rule="evenodd"
										d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
									<path
										d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
									<path
										d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
									<path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
								</svg>
								Operation
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/transactions">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-server" viewBox="0 0 16 16">
									<path
										d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4V2.667z" />
									<path
										d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.51 6.51 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8c-1.966 0-3.809-.317-5.208-.876a6.508 6.508 0 0 1-1.458-.79z" />
									<path
										d="M14.667 11.668a6.51 6.51 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.51 6.51 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z" />
								</svg>
								Transactions
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/statements">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-table" viewBox="0 0 16 16">
									<path
										d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
								</svg>
								Statements
							</a>
						</li>

					</ul>
				</div>
			</nav>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2">Online operation</h1>

				</div>

				<div class="card">
					<div class="card-header bg-secondary bg-gradient text-light fs-6">
						Deposit / Withdrawal
					</div>
					<div class="p-3">
						<p th:if="${status == 'ko'}" class="alert alert-danger d-flex justify-content-between">
							<span>Operation failed</span> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
								fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
								<path
									d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
							</svg>
						</p>
						<form action="#" th:action="@{/operation}" th:object="${operation}" method="POST">
							<div class="row g-3">
								<div class="col-sm-3">
									<div class="input-group has-validation">
										<span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg"
												width="16" height="16" fill="currentColor"
												class="bi bi-plus-slash-minus" viewBox="0 0 16 16">
												<path
													d="m1.854 14.854 13-13a.5.5 0 0 0-.708-.708l-13 13a.5.5 0 0 0 .708.708ZM4 1a.5.5 0 0 1 .5.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2A.5.5 0 0 1 4 1Zm5 11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5A.5.5 0 0 1 9 12Z" />
											</svg></span>
										<select class="form-select" th:field="*{name}"
											aria-label="Default select example">
											<option selected value="Deposit">Deposit</option>
											<option value="Withdraw">Withdraw</option>
										</select>
									</div>
									<div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
									</div>
								</div>
								<div class="col-sm-4">
									<div class="input-group has-validation">
										<span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg"
												width="16" height="16" fill="currentColor" class="bi bi-bank"
												viewBox="0 0 16 16">
												<path
													d="M8 .95 14.61 4h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.379l.5 2A.5.5 0 0 1 15.5 17H.5a.5.5 0 0 1-.485-.621l.5-2A.5.5 0 0 1 1 14V7H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 4h.89L8 .95zM3.776 4h8.447L8 2.05 3.776 4zM2 7v7h1V7H2zm2 0v7h2.5V7H4zm3.5 0v7h1V7h-1zm2 0v7H12V7H9.5zM13 7v7h1V7h-1zm2-1V5H1v1h14zm-.39 9H1.39l-.25 1h13.72l-.25-1z" />
											</svg></span>
										<select class="form-select" th:field="*{accountId}"
											aria-label="Default select example">
											<option th:each="account:${accounts}" th:value="${account.accountId}"><span
													th:text="${account.accountType}" /> - <span
													th:text="${account.accountNo}" /></option>
										</select>
									</div>
									<div class="text-danger" th:if="${#fields.hasErrors('accountId')}"
										th:errors="*{accountId}"></div>
								</div>

								<div class="col-sm-3">
									<div class="input-group has-validation">
										<span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg"
												width="16" height="16" fill="currentColor" class="bi bi-currency-dollar"
												viewBox="0 0 16 16">
												<path
													d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z" />
											</svg></span>
										<input type="text" th:field="*{amount}" class="form-control" />
									</div>
									<div class="text-danger" th:if="${#fields.hasErrors('amount')}"
										th:errors="*{amount}"></div>
								</div>
								<div class="col-sm-2">
									<button type="submit" class="btn w-100 btn-success"><svg
											xmlns="http://www.w3.org/2000/svg" width="16" height="16"
											fill="currentColor" class="bi bi-arrow-right-circle-fill"
											viewBox="0 0 16 16">
											<path
												d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
										</svg> Validate</button>
								</div>
							</div>
						</form>
					</div>
				</div>


				<div class="card mt-5">
					<div class="card-header bg-gradient fs-6 bg-secondary text-light fs-5">
						Transfer
					</div>
					<div class="p-3">
						<form action="#" th:action="@{/transfer}" th:object="${transfer}" method="POST">
							<div class="row g-3">
								<div class="col-sm-3">
									<div class="input-group has-validation">
										<span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg"
												width="16" height="16" fill="currentColor" class="bi bi-bank"
												viewBox="0 0 16 16">
												<path
													d="M8 .95 14.61 4h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.379l.5 2A.5.5 0 0 1 15.5 17H.5a.5.5 0 0 1-.485-.621l.5-2A.5.5 0 0 1 1 14V7H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 4h.89L8 .95zM3.776 4h8.447L8 2.05 3.776 4zM2 7v7h1V7H2zm2 0v7h2.5V7H4zm3.5 0v7h1V7h-1zm2 0v7H12V7H9.5zM13 7v7h1V7h-1zm2-1V5H1v1h14zm-.39 9H1.39l-.25 1h13.72l-.25-1z" />
											</svg></span>
										<select class="form-select" th:field="*{sourceAccountId}"
											aria-label="Default select example">
											<option th:each="account:${accounts}" th:value="${account.accountId}"><span
													th:text="${account.accountType}" /> - <span
													th:text="${account.accountNo}" /></option>
										</select>
									</div>
									<div class="text-danger" th:if="${#fields.hasErrors('sourceAccountId')}"
										th:errors="*{sourceAccountId}"></div>
								</div>
								<div class="col-sm-4">
									<div class="input-group has-validation">
										<span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg"
												width="16" height="16" fill="currentColor" class="bi bi-bank"
												viewBox="0 0 16 16">
												<path
													d="M8 .95 14.61 4h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.379l.5 2A.5.5 0 0 1 15.5 17H.5a.5.5 0 0 1-.485-.621l.5-2A.5.5 0 0 1 1 14V7H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 4h.89L8 .95zM3.776 4h8.447L8 2.05 3.776 4zM2 7v7h1V7H2zm2 0v7h2.5V7H4zm3.5 0v7h1V7h-1zm2 0v7H12V7H9.5zM13 7v7h1V7h-1zm2-1V5H1v1h14zm-.39 9H1.39l-.25 1h13.72l-.25-1z" />
											</svg></span>
										<input type="text" th:field="*{targetAccountNo}"
											placeholder="Destination Account Number" class="form-control" />
									</div>
									<div class="text-danger" th:if="${#fields.hasErrors('targetAccountNo')}"
										th:errors="*{targetAccountNo}"></div>
								</div>

								<div class="col-sm-3">
									<div class="input-group has-validation">
										<span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg"
												width="16" height="16" fill="currentColor" class="bi bi-currency-dollar"
												viewBox="0 0 16 16">
												<path
													d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z" />
											</svg></span>
										<input type="text" th:field="*{amount}" class="form-control" />
									</div>
									<div class="text-danger" th:if="${#fields.hasErrors('amount')}"
										th:errors="*{amount}"></div>
								</div>
								<div class="col-sm-2">
									<button type="submit" class="btn w-100 btn-success"><svg
											xmlns="http://www.w3.org/2000/svg" width="16" height="16"
											fill="currentColor" class="bi bi-arrow-right-circle-fill"
											viewBox="0 0 16 16">
											<path
												d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
										</svg> Validate</button>
								</div>
							</div>
						</form>
					</div>
				</div>

			</main>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>

</body>

</html>